body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: black;
}
canvas{
    background-color: grey;
    border: 1px solid black;
}